.rvw-logo {
    margin-top: 600px;
    max-width: 150px;
    margin-bottom: 40px;
}

.nm-logo {
  max-width: 300px;
}

.locali-logo-minerva {
    max-width: 290px;
    top: -10px;
    position: relative;
}

.oln {
    text-shadow: 0 0 2px black;
}



.embla_sponsori {
    overflow: hidden;
  }
.embla__container_sponsori {
display: flex;
}
.embla__slide_sponsori {
position: relative;
flex: 0 0 100%;
}



.embla {
    position: relative;
    background-color: #f7f7f7;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .embla__viewport {
    overflow: hidden;
    width: 100%;
  }
  
  .embla__viewport.is-draggable {
    cursor: move;
    cursor: grab;
  }
  
  .embla__viewport.is-dragging {
    cursor: grabbing;
  }
  
  .embla__container {
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin-left: -10px;
  }
  
  .embla__slide {
    position: relative;
    min-width: 100%;
    padding-left: 10px;
  }
  
  .embla__slide__inner {
    position: relative;
    overflow: hidden;
  }
  
  .embla__slide__number {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 22px;
    background-color: rgba(0, 0, 0, 0.6);
  }

  
  
  .embla__button {
    outline: 0;
    cursor: pointer;
    background-color: transparent;
    touch-action: manipulation;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    fill: #bab0dc;
    padding: 0;
  }
  
  .embla__button:disabled {
    cursor: default;
    opacity: 0.3;
  }
  
  .embla__button__svg {
    width: 100%;
    height: 100%;
  }
  
  .embla__button--prev {
    left: 27px;
  }
  
  .embla__button--next {
    right: 27px;
  }

  .s_f_container{
    display: flex;
    height: 70px;
  }

  .imgf{
    // max-height: 1px;
    top: 50%;
    max-height: 70px;
    max-width: 200px;
    margin: auto;
    text-align: center;
    
  }

  .cameraa{
    max-width: 100%;
  }



  #stele, #planetute {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: 0; /* if you use -1 you have to set to `"window"` the interactivity.detectsOn property */
}





